<div class="card border">
  <div class="card-body">
    <div>
      <%= render @response_template %>
    </div>
    <div>
      <%= link_to "Back to response templates", space_structure_response_templates_path, class: "btn" %>
    </div>
  </div>
</div>
