<div class="card border">
  <div class="card-body">
    <div>
      <%= render @answer %>
    </div>
    <div>
      <%= link_to "Back to answers", space_structure_answers_path(@space, @structure), class: "btn" %>
    </div>
  </div>
</div>
