<div class="card border">
  <div class="card-body">
    <div>
      <%= render @form_field %>
    </div>
    <div>
      <%= link_to "Back to form fields", space_structure_form_fields_path, class: "btn" %>
    </div>
  </div>
</div>
