<div id="flash" class="flashes">
  <% flash.each do |type, message| %>
    <% alert_type = 'info' if type == 'notice' %>
    <% alert_type = 'danger' if type == 'error' %>
    
    <%= content_tag(:div, message, class: "alert alert-#{alert_type || type} alert-dismissible", data: { controller: "flash" }) %>
  <% end %>
</div>
